{% extends "layout.html" %}

{% block title %} Home - Sneaker76 {% endblock %}

{% block body %}

<div class="hero max-h-screen " style=" height: 300px; background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);">
  <div class="hero-overlay bg-white bg-opacity-80"></div>
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold" style="font-style: normal;">Step into Your Sole Story</h1>
      <p class="mb-5" style="font-style: normal;">Uncover the latest trends and timeless classics at your one-stop sneaker shop. At Sneaker76, every pair is a piece of art, waiting to take its first journey with you.</p>
    </div>
  </div>
</div>

<!-- Flash Message Container -->
<div class="fixed top-10 right-0 m-4 z-50" id="flash-message">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-info flex items-center p-4 mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6 mr-2"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <span>{{ msg }}</span>
        </div>
        {% endfor %}
    {% endif %}
  {% endwith %}
</div>

<div class="container mx-auto mt-16"> 
<div id="carousel" class="carousel">
  <button class=" btn btn-circle carousel-button prev"  onclick="moveSlide(-1)">&#10094;</button>
    <div class="carousel-slides">

      {% for item in featured %}
      <div class="carousel-slide" data-aos="zoom-in">
        <div class="card bg-base-100 " data-aos="zoom-in" >
          <figure><img src="{{ item.picture }}" class="h-40 w-64 gap-4" id="pic" alt="Shoes"/></figure>
          <div class="card-body">
            <h2 class="card-title">
              <a href="/shoe/{{item.id}}">
                <strong>{{ item.name }}</strong>
                <p id="DKK"> {{ item.price }} <span id="DKK2">DKK</span> </p>
              </a>
            </h2>
            <div class="card-actions justify-start">
              <!-- Actions go here -->
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="btn btn-circle carousel-button next" onclick="moveSlide(1)">&#10095;</button> 
  </div>

  <div class="grid grid-cols-4 gap-4 h-32" data-aos="zoom-in" data-aos-offset="-100">
    <div class="flex justify-center items-center text-2xl h-20"><img class="h-8 mr-2" src="../static/img/delivery.png"><h1>  Free Delivery</h1></div>
    <div class="flex justify-center items-center text-2xl h-20"><img class="h-8 mr-2" src="../static/img/verified.png"><h1>Authenticity Check</h1></div>
    <div class="flex justify-center items-center text-2xl h-20"><img class="h-8 mr-2" src="../static/img/price-tag.png"><h1>Price Guarantee</h1></div>
    <div class="flex justify-center items-center text-2xl h-20"><img class="h-8 mr-2" src="../static/img/headset.png"><h1>Fast Service</h1></div>
  </div>

</div>
  
  <div class="w-full">
    <div class="divider"></div>
  </div>

<div class="container mx-auto">




  <div class="grid grid-cols-2 row-span-2 gap-4 h-64 mt-64 mb-64">
    <div class="flex justify-center items-center text-2xl h-20">  
      <h3 class="font-normal not-italic" > Et par Nike Air Force 1 i hvid er et must-have for enhver modebevidst person. Disse ikoniske sko har været på markedet i over 40 år, og deres popularitet viser ingen tegn på at aftage. Deres klassiske, minimalistiske design passer til mange forskellige outfits, mens den bløde skummellemsål og støttende overdel sørger for god komfort hele dagen. Køb et par Nike Air Force 1 i hvid, og få et par sko, der både er stilfulde og behagelige at have på.</h3>

    </div>
    <div class="flex justify-center items-center text-2xl mt-20 h-20">
      <img src="../static/img/Nike-SB-Dunk-Low-White-Gum-CD2563-101-Release-Date-Price-4.jpeg" class=" h-auto " alt="">
      
    </div>
    <div class="row-start-2" >
      <button class="btn btn-accent w-64 mt-8 " > Buy Now! </button>

    </div>
  </div>
</div>

</div>
  
  


 
    

{% endblock %}