{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block body %}

<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Register now!</h1>
      <p class="py-6">Register to track your orders, save your wishlist, and unlock exclusive deals</p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form class="card-body" method="post">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="email" name="email" placeholder="email" class="input input-bordered" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input type="password" name="password" placeholder="password" class="input input-bordered" required />

        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Confirm</span>
          </label>
          <input type="password" name="confirm" placeholder="Confirm Password" class="input input-bordered" required />
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary">Register</button>
          <label class="label">
            <a href="/login" class="label-text-alt link link-hover justify-center items-center">Already registered? Log in</a>
          </label>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}